@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-image: url(./assets/background-points.png);
  background-size: contain;
  background-repeat: repeat;
  font-family: poppins, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFFCC;
  text-align:left;
  background-color: #121435;
  max-width: 100%;
}

.content {
  .h1-top {
    font-size: 40px;
    display: flex;
    height: 290px;
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align:left;
  }

  .simple-text {
    font-size: 15px;
  }
}

.basic-elements {
  .title {
    font-size: 20px;
  }
}

.card.shadow-sm.rounded.m-2 {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 25px;
  color: #667292;
  background: #1F2251;
}
