@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-image: url(./assets/background-points.png);
  background-size: contain;
  background-repeat: repeat;
  font-family: poppins, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #525f7f;
  text-align:left;
  background-color: #0b0d27;
}

h1 {
  display: flex;
  height: 290px;
  align-items: flex-end;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align:left;
}

.card h2 {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 25px;
  font-weight: 500;
  color: hsla(0,0%,100%,.8);
}
